<div *ngIf="isChairman" class="page">
    <div class="part container">
        <span class="login100-form-title p-b-26">
                REGISTER VOTER ACCOUNT
        </span>

        <form enctype="multipart/form-data">
            <div class="cross-validation">
                <label for="name"><b>ACCOUNT ADDRESS</b></label>

                <input class="input100 form-control" id="address" name="address" type="text"
                [(ngModel)]="formData.address" #address="ngModel">

            </div>
            <button class="btn pink" type="submit" (click)="register()">REGISTER</button>

        </form>

    </div>
    
</div>


