.page {
    background: url("./../../assets/background.jpg") fixed no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

col {
    position: relative;
}

.container {
position: absolute;
width: 50%;
color: white;
top: 50%;
margin-top: 350px;
left: 300px;

}

.btn {
background: transparent;
width: 100%;
border: 2px solid transparent;
box-sizing: border-box;
cursor: pointer;
font-size: 1rem;
font-weight: 700;
line-height: 1;
margin-top: 18px;
margin-bottom: 18px;
padding: 15px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
outline: none;
position: relative;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
-webkit-transition: all 0.2s ease-in-out 0s;
-moz-transition: all 0.2s ease-in-out 0s;
-ms-transition: all 0.2s ease-in-out 0s;
transition: all 0.2s ease-in-out 0s;
}

.pink {
background: rgb(230, 30, 77);
color: rgb(255, 255, 255);
box-shadow: 0 3px 0 #333333;
}

.pink:hover {
background: rgb(227, 28, 95);
}

.pink:active, .pink:focus {
background: rgb(215, 4, 102);
}

.p-b-26 {
padding-bottom: 26px;
padding-top: 26px;
}

label {
font-family: 'Poppins', sans-serif;
font-size: 20px;
color:rgb(0, 0, 0);
}

.txt1 {
font-family: 'Poppins', sans-serif;
font-size: 15px;
color: #000000;
line-height: 1.5;
text-align: center
}

.txt2 {
font-family: 'Poppins', sans-serif;
font-size: 15px;
color: #000000;
line-height: 1.5;
text-align: center
}