<div class="page">
    <div class ="row">
        <div class="col">
            <div class="part container">
                <a routerLink="/register">
                    <button class="btn pink">VOTE</button>
                </a>
                <a routerLink="/register">
                    <button class="btn pink">REGISTER VOTER</button>
                </a>
                <a routerLink="/register">
                    <button class="btn pink">CHECK RESULT</button>
                </a>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>

